
.verdetexto{
    color: #8BB02F;
}

#container{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.textossessionone{
    margin: 60px;
}

#sessionone{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#blocoum , #blocodois{
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
}


#blocodois{
    background-color: rgb(0, 0, 0);
}

#sessiontwo{
    width: 100%;
    height: 500px;
    margin-top: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}




#blocotres{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blocotextoverde{
    text-align: center;
    border-radius: 70px;
    margin: 50px;
    width: 500px;
    height: 300px;
    background-color: #8BB02F;
    align-items: center;
    display: flex;
}

.ptextsagri{
    margin: 30px;
}

@media(max-width:480px){

    #sessionone{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #blocoum , #blocodois{
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
    }
    
    
    #blocodois{
        background-color: rgb(226, 39, 39);
    }
    
    #blocotres{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        background-color: #1cd864;
    }
    
    .blocotextoverde{
        border-radius: 70px;
        margin: 50px;
        width: 400px;
        height: 600px;
        align-items: center;
        display: flex;
    }


}

@media(min-width: 481px) and (max-width:768px){

    #sessionone{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #blocoum , #blocodois{
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
    }
    
    
    #blocodois{
        background-color: rgb(0, 0, 0);
    }
    
    #blocotres{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .blocotextoverde{
        border-radius: 70px;
        margin: 50px;
        width: 400px;
        height: 600px;
        background-color: #4c076e;
        align-items: center;
        display: flex;
    
}

}

@media(min-width: 769px) and (max-width:1279px){



    #sessionone{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #blocoum , #blocodois{
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
    }
    
    
    #blocodois{
        background-color: rgb(0, 0, 0);
    }
    
    #blocotres{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .blocotextoverde{
        border-radius: 70px;
        margin: 50px;
        width: 400px;
        height: 600px;
        min-height: 900px;
        max-height: 800px;
        background-color: #8BB02F;
        align-items: center;
        display: flex;
    
}


}