#container{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.textossessionone{
    margin: 60px;
}

#textossessiononewhite{
    margin: 60px;
    color: #ffff;
}

#sessionone{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#blocoum , #blocodois{
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    
}

#blocodois{
    background-color: rgb(0, 0, 0);
}

#blocotres{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.blocotextoverde{
    text-align: center;
    border-radius: 70px;
    margin: 30px;
    width: 500px;
    height: 300px;
    background-color: #8BB02F;
    flex-direction: column;
    align-items: center;
    display: flex;
}


#blocoverdeimg{
    width: 100%;
    height: 300px;

}

.ptextsagri{
    margin: 30px;
}

@media(max-width:480px){

    #sessionone{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #blocoum , #blocodois{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
    }
    
    #blocotres{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .blocotextoverde{
        margin: 30px;
        width: 90%;
        height: 350px;
    }


}

@media(min-width: 481px) and (max-width:768px){

    #sessionone{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #blocoum , #blocodois{
        width: 100%;
        height: 400px;
        display: flex;
        align-items: center;
    }
    
    
    #blocotres{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .blocotextoverde{
        width: 90%;
        height: 300px;
    
}

}

@media(min-width: 769px) and (max-width:1279px){

    #sessionone{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #blocoum , #blocodois{
        height: 600px;
        display: flex;
        align-items: center;
    }
    
    #blocotres{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    
    .blocotextoverde{
        margin: 50px;
        width: 400px;
        height: 400px;
}

}