#forms{
    width: 700px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#textocontato{
    background-color: #8BB02F;
    width: 500px;
    height: 500px;
}

#container{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 5px;
    margin-bottom: 5px;
}

input, textarea{
    border: solid 1px;
    border-radius: 10px;
    border-color: rgb(176, 176, 176);
}

#buttom{
    width: 100px;
    background-color: #8BB02F;
}

@media(max-width:480px){
    #container{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }

    #forms{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #textocontato{
        background-color: #8BB02F;
        width: 100%;
        height: 500px;
    }

    form{
        width: 80%;
    }
    

}

@media(min-width: 481px) and (max-width:768px){
        
    #container{
        margin-top: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }

    #forms{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    #textocontato{
        background-color: #8BB02F;
        width: 100%;
        height: 500px;
    }

    form{
        width: 80%;
    }
    
}